<launch>
  <!-- Аргументы -->
  <arg name="model" default="$(find my_robot)/urdf/test.urdf"/>
  <arg name="rviz_config" default="$(find my_robot)/config/robot.rviz"/>

  <!-- Загрузка URDF -->
  <param name="robot_description" textfile="$(arg model)"/>

  <!-- Публикация состояний сочленений -->
  <node name="joint_state_publisher_gui" 
        pkg="joint_state_publisher_gui" 
        type="joint_state_publisher_gui"/>
        
  <!-- Публикация TF-фреймов -->
  <node name="robot_state_publisher" 
        pkg="robot_state_publisher" 
        type="robot_state_publisher"
        output="screen"/> <!-- Добавлен вывод логов -->

  <!-- Запуск RViz -->
  <node name="rviz" 
        pkg="rviz" 
        type="rviz" />
</launch>