<launch>
  <!-- Аргументы -->
  <arg name="model" default="$(find my_robot)/urdf/dif_robot.xacro" />
  <arg name="rviz_config" default="$(find my_robot)/launch/robot.rviz"/>
  <arg name="use_gui" default="true" />

  <!-- Загрузка URDF -->
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

  <!-- Публикация состояний сочленений -->
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

  <!-- Публикация TF-фреймов -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <!-- RViz с конфигурацией -->
  <node name="rviz" pkg="rviz" type="rviz" />
</launch>